<div id="access-denied-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" >
        <div class="modal-content" style="background-color: #2ac4f4; width: 890px">
            <div class="modal-body" style="padding: 70px">

                <div class="row">
                    <div class="col-sm-12">

                        <div class="text-center" style="font-size: 40px; color: white">
                                You don't have access to this page
                        </div>

                        <div class="text-center" style="padding: 25px">
                            <img style="width: 100px" src="/bundles/app/images/lock.png" >
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="text-center" style="background-color: white; color: #747474; font-size: 20px; margin-top: 14px; padding: 25px;">
                            <!--<span data-ng-if="modalData.step == 1">Please go and complete <a style="color: #2ac4f4" data-ng-href="[[ modalData.link]]">"Step 2"</a> in sign up to have an <br/> access to this page</span>-->
                            <span data-ng-if="modalData.step == 1">
                                You'r profile is incomplete, to continue please complete your profile <br />
                                <a class="" data-ng-href="[[ modalData.link]]">Next</a>
                            </span>
                            <span data-ng-if="modalData.step != 1">Please go and complete all the steps in <a style="color: #2ac4f4" data-ng-href="[[ modalData.link]]">sign up </a> to have a <br/> full access to Luvbyrd.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>