<div class="find-social">
    <h2 class="text-center">{{ 'find.follow_us_here'|trans({}, 'messages') }}</h2>

    <ul class="clearfix">
        <li>
            <span></span>
            <a href="https://web.facebook.com/Luvbyrd-660916720610880" target="_blank"></a>
        </li>
        <li>
            <span></span>
            <a href="https://twitter.com/luvbyrdluv" target="_blank"></a>
        </li>
        <li>
            <span></span>
            <a href="https://www.instagram.com/luvbyrdluv/" target="_blank"></a>
        </li>
    </ul>

</div>