<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand" href="https://luvbyrd.com">
                    <img src="https://luvbyrd.com/bundles/app/images/logo-inner.png" alt="LuvByrd"
                         class="img-responsive"/>
                </a>
            </div>

        </div>
        <div id="line"></div>
    </nav>
</header>


<div id="email-information">
    <div class="container bg-white">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">

                <div class="row ">

                    <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 ">

                        <h1>Welcome to LuvByrd!</h1>

                        <p> Your payment on stripe.com for luvbyrd.com was failed. </p>
                        <p>Please either check your card balance or connect with bank to find out the problem, or else your subscription will be cancelled. </p>


                        <p>If you have any questions, comments or would like to advertise with us, please email us at
                            <em>info@luvbyrd.com</em>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

