<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">

                <a class="navbar-brand" href="https://luvbyrd.com">
                    <img src="https://luvbyrd.com/bundles/app/images/logo-inner.png" alt="LuvByrd"
                         class="img-responsive"/>
                </a>
            </div>

        </div>
        <div id="line"></div>
    </nav>
</header>


<div id="email-information">
    <div class="container bg-white">
        <div class="row">
            <div class="col-sm-10 col-sm-offset-1">

                <div class="row ">

                    <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 ">

                        <h1>Welcome to LuvByrd!</h1>

                        <p>Please enjoy 50% off your first month membership by using the promo code <strong>Luvbyrd50off</strong>! </p>

                        <p>Be sure to like us on
                            <span class="connect-social">
                                <a target="_blank" href="https://web.facebook.com/LuvByrdLuv/">
                                    <img width="32" src="https://luvbyrd.com/bundles/app/images/facebook.png" alt="LuvByrd"
                                                                   class="img-responsive"/>
                                </a>
                            </span>,

                            download our <a target="_blank" href="https://itunes.apple.com/us/app/luvbyrd/id1076265929?mt=8">iOS</a>/<a  target="_blank" href="https://play.google.com/store/apps/details?id=com.luvbyrd.luvbyrd">Android</a> apps , and start your next dating adventure today!
                        </p>

                        <p>If you have any questions, comments or would like to advertise with us, please email us at
                            <em>info@luvbyrd.com</em>
                        </p>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

