<div id="message-modal" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" aria-label="Close" ng-click="$hide()">
                    <span aria-hidden="true" class="close-modal"></span>
                </button>
                <h4 class="modal-title text-left">Enter message to send</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-sm-12">

                        <textarea data-ng-model="message" data-ng-show="!loading" class="form-control" rows="5"></textarea>

                        <p data-ng-show="errorText" class="text-danger">[[errorText]]</p>
                        
                        <div class="text-center" data-ng-show="loading">
                            <img src="/bundles/app/images/loading.gif"/>
                        </div>

                        <br />

                        <div class="text-right">
                            <button data-ng-disabled="!ids || !message.length" data-ng-click="submit()" class="btn btn-small btn-primary">Send message</button>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>