{% extends "FOSUserBundle:Security:login.html.twig" %}

{% block fos_form %}
    <p class="form-message text-center">
        {{ 'resetting.password_already_requested'|trans({}, 'FOSUserBundle') }}
    </p>
{% endblock %}
